/*
  abstracts/
  All tools and helpers used across the project. Every global variable, function, mixin and placeholder should be put in here.

  abstracts/
  |– _variables.styl    # Variables
  |– _mixins.styl       # Mixins
  |– _functions.styl    # Functions
  …                     # Etc.

*/
