/*
  layout/
  A macro component (defining the global wireframe).

  layout/
  |– _grid.styl         # Grid system
  |– _navigation.styl   # Navigation
  |– _header.styl       # Header
  |– _footer.styl       # Footer
  …                     # Etc.

*/
