/*
  components/
  If layouts/ is macro (defining the global wireframe), /components is more focused on widgets.

  components/
  |– _buttons.styl      # Buttons
  |– _carousel.styl     # Carousel
  |– _thumbnails.styl   # Thumbnails
  …                     # Etc.
*/
